
.vedios{
  position: relative;
  left: 200px;
}
video{
  height: 180px;
}
img{
  height: 25px;
  width: 26px;
}

.datas {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
}
@media screen and (max-width: 830px) {
  .datas {
    grid-template-columns: repeat(2, 1fr);
    position: relative;
    right: 150px;
  }
}
@media screen and (max-width: 540px) {
  .datas {
    grid-template-columns: 1fr;
    position: relative;
    right: 150px;
  }
}